@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
	margin-bottom: 100px;
}

/*index*/
.center-fix {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-bg { 
  background: url('./../img/bg.jpg') no-repeat center center fixed; 
  background-size: cover;
}

.bg {
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	color: white;
}

.btn-facebook {
	background-color: #3B5998;
	color: #FFF;
	border: none;
}

.btn-facebook:hover {
	background-color: #2B4988;
	color: #FFF;
	border: none;
}

/*home*/

.book {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.capa > img {
	width: 100%;
	margin-bottom: 15px;
}

.descricao > h3 {
	margin-top: 0;
}

.descricao > p {
	text-align: justify;
}

/*livro*/

.home-livro {
	text-decoration: none; 
	color: #5f5f5f;
}

.home-livro > img{
	width: 100%;
}

.home-livro > h5 {
	text-align: center;
}

	/*.usuario {
		position: relative;
	}

	.usuario > img {
		position: absolute;
		left: 0;
	}

	.usuario > div {
		position: absolute;
		left: 60px;
	}

	.usuario h5 {
		margin-top: 5px;
		font-weight: bold;
	}*/

.usuario {
	text-decoration: none;
	color: #333;
}

.usuario > img {
	float: left;
}

.usuario > div {
	margin-left: 60px;
}

.sub-item {
	background-color: #f9f9f9;
}

/*Trocas*/

.chat {
	border: 1px solid #EEE;
	padding: 10px;
	margin-bottom: 10px;
	height: 400px;
	overflow-y: auto;
}

.chat img {
	width: 30px;
}

.chat > div {
	margin-bottom: 5px;
}

.mensagem {
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 5px;
	background-color: #EEE;
	display: inline;
}


.mensagem > p {
	margin-bottom: 0;
	display: inline;
}

.mensagem > small{
	color: #AAA;
	font-size: 10px;
}

.destinatario {
	text-align: right;
}

.destinatario > img {
	margin-left: 5px;
}

/*Troca*/
.troca-perfil > img{
	width: 40px;
	height: 40px;
}

.troca-perfil > p{
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
}

.troca-perfil > p::before{
	content: '"';
	font-size: 16px;
	font-weight: bolder;
}

.troca-perfil > p::after{
	content: '"';
	font-size: 16px;
	font-weight: bolder;
}

.troca-livros > img {
	width: 100%;
}

.troca-livros > i {
	margin-top: 60px;
}

.troca-perfil > img{
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}

.troca-perfil-2 > img{
	float: right
}

.troca-perfil-2 > a{
	text-align: right;
	display: block;
}

.troca-data {
	color: #777;
}

/*Troca*/

/*Seguir*/
.seguir:hover span {
  display: none;
}

.seguir:hover{
	background-color: #d9534f;
	border-color: #d43f3a;	
}

.seguir:hover:after {
  content: 'Deixar de seguir';
  
}