{% extends "base.html" %}

{% block title %}
	Usuário
{% endblock title %}

{% block pagina %}
	<h3 class="page-header">
		Usuário
	</h3>
	<div class="row">
		<div class="col-sm-3">
			<a href="/usuarios/{{ usuario.id }}" class="usuario">
				<img src="{{ usuario.foto }}" alt="">
				<div>
					<h5>{{ usuario.nome }}</h5>
					<h6>{{ usuario.cidade }}</h6>
				</div>
			</a>
			{% if usuario != request.user.perfil %}
				{% if usuario in request.user.perfil.seguindo.all %}
					<a href="/usuarios/deixardeseguir/{{ usuario.id }}" class="btn btn-primary btn-block seguir" onclick="return confirm('Você tem certeza que deseja deixar de seguir {{usuario.nome}}');"><span>Seguindo</span></a>
				{% else %}
					<a href="/usuarios/seguir/{{ usuario.id }}" class="btn btn-default btn-block"><span>Seguir</span></a>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<h3 class="page-header">
		Livros
	</h3>
	<div class="row">
		{% for livro in usuario.livros.all %}
			<div class="col-sm-2 livro">
				<a href="/livros/{{ livro.id }}" class="home-livro">
					<img src="{{ livro.capa }}" style="height: 180px;">
					<h5>{{ livro.titulo | title }}</h5>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock pagina %}