{% extends "base.html" %}

{% block title %}
	Usuário
{% endblock title %}

{% block pagina %}
	<h3 class="page-header">
		Usuário
	</h3>
	<div class="row">
		<div class="col-sm-3">
			<a href="/usuarios/{{ usuario.id }}" class="usuario">
				<img src="{{ usuario.foto }}" alt="">
				<div>
					<h5>{{ usuario.nome }}</h5>
					<h6>{{ usuario.cidade }}</h6>
				</div>
			</a>
			<a href="/usuarios/seguir/{{ usuario.id }}" class="btn btn-default btn-block">Seguir</a>
		</div>
	</div>
	<h3 class="page-header">
		Livros
	</h3>
	<div class="row">
		{% for livro in usuario.livros.all %}
			<div class="col-sm-2 livro">
				<a href="/livros/{{ livro.id }}" class="home-livro">
					<img src="{{ livro.capa }}" style="height: 180px;">
					<h5>{{ livro.titulo | title }}</h5>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock pagina %}