{% extends "base.html" %}

{% block title %}
	Usuário
{% endblock title %}

{% block pagina %}
	<h3 class="page-header">
		Usuário
	</h3>
	<div class="row">
		{% for usuario in usuarios %}
			<div class="col-sm-3">
				<a href="/usuarios/{{ usuario.id }}" class="usuario" style="display: block; color: #5f5f5f">
					<img src="{{ usuario.foto }}" alt="">
					<div>
						<h5>{{ usuario.nome }}</h5>
						<h6>{{ usuario.cidade }}</h6>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock pagina %}