{% extends "base.html" %}

{% block title %}
	Meus Livros
{% endblock title %}

{% block pagina %}
	<h3 class="page-header">
		Meus Livros
	</h3>
	<div class="row">
		<div class="col-sm-2 livro">
			<a href="/livros/adicionar" class="home-livro">
				<img src="/static/assets/img/book-cover-blank.jpg" alt="">
				<h5>Adicionar</h5>
			</a>
		</div>

		{% for livro in livros %}
			<div class="col-sm-2 livro">
				<a href="/livros/{{ livro.id }}" class="home-livro">
					<img src="{{ livro.capa }}" alt="">
					<h5>{{ livro.titulo }}</h5>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock pagina %}