{% extends "base.html" %}

{% block title %}
	Troca
{% endblock title %}

{% block pagina %}
	<h3 class="page-header">
		Troca
	</h3>
	<div class="row">
			<div class="col-xs-6">
				<div class="chat">
					{% if not mensagens %}
						<div class="col-xs-12">
							<p>Ainda não há mensagens.</p>
						</div>
					{% endif %}

					{% for msg in mensagens %}
						{% if msg.remetente == user.perfil %}
							<div class="remetente">
								<img src="{{msg.remetente.foto}}" class="img-circle" alt="">
								<div class="mensagem">
									<p>{{ msg.conteudo }}</p>
									<small>{{ msg.data |time:"H:i" }}</small>
								</div>
							</div>
						{% else %}
							<div class="destinatario">
								<div class="mensagem">
									<p>{{ msg.conteudo }}</p>
									<small>{{ msg.data |time:"H:i" }}</small>
								</div>
								<img src="{{msg.remetente.foto}}" class="img-circle" alt="">
							</div>
						{% endif %}
					{% endfor %}
				</div>

				<form method="POST" action="/trocas/mensagem/{{troca.id}}">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" class="form-control" name="conteudo" placeholder="Mensagem">
					</div>
					<button type="submit" class="btn btn-default">Enviar</button>
				</form>
 			</div>

 			<div class="col-xs-6">
				

				{% if troca.livro_1 and troca.livro_2 %}
					<div class="row">
						<div class="col-xs-5 troca-livros">
							<img src="{{troca.livro_1.capa}}" alt="">
						</div>
						<div class="col-xs-2 troca-livros">
							<i class="fa fa-exchange fa-fw"></i>
						</div>
						<div class="col-xs-5 troca-livros">
							<img src="{{troca.livro_2.capa}}" alt="">
						</div>


					</div>
				{% else %}
					<form>
						<div class="form-group">
							<label>Desejado</label>
								<select class="form-control">
								{% if troca.perfil_1 == user.perfil %}
									{% for livro in troca.perfil_2.livros.all %}
										<option value="{{livro.id}}">{{livro}}</option>
									{% endfor %}
								{% else %}
									{% for livro in troca.perfil_1.livros.all %}
										<option value="{{livro.id}}">{{livro}}</option>
									{% endfor %}
								{% endif %}
							</select>
						</div>
						<button type="submit" class="btn btn-default btn-success">Selecionar</button>
					</form>
				{% endif %}
 			</div>

 			{% if trocaRealizada %}
	 			<div class="col-xs-6">
	 				<br>
	 				<br>
					<form>
						<div class="form-group">
							<label>Avalie o usuário</label>
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label>Nota</label>
							<br>
							<label class="radio-inline">
								<input type="radio" name="nota" value="option1"> 1
							</label>
							<label class="radio-inline">
								<input type="radio" name="nota" value="option2"> 2
							</label>
							<label class="radio-inline">
								<input type="radio" name="nota" value="option3"> 3
							</label>
							<label class="radio-inline">
								<input type="radio" name="nota" value="option2"> 4
							</label>
							<label class="radio-inline">
								<input type="radio" name="nota" value="option3"> 5
							</label>
						</div>
						<button type="submit" class="btn btn-default btn-success">Finalizar</button>
					</form>
	 			</div>
 			{% endif %}



	</div>
{% endblock pagina %}