{% extends "base.html" %}

{% block title %}
	Home
{% endblock title %}

{% block pagina %}
	<h3 class="page-header">
		Recém Adicionados
	</h3>
	<div class="row">
		{% if not livros %}
			<div class="col-xs-12">
				<p>Ainda não foram adicionados livros.</p>
			</div>
		{% endif %}

		{% for livro in livros %}		

			<div class="col-xs-6 col-sm-3 livro">				
				<a href="/livros/{{livro.id }}" class="home-livro">
					<img src="{{livro.capa}}" style="height: 286px;">
				</a>											
				<!--<h3>{{ livro.titulo }}</h3>-->
				<h6>por <b>{{ livro.autor}}</b></h6>
				<h6>de <b>{{ livro.dono.nome }}</b></h6>
				<h6>Adicionado em {{ livro.data }}</h6>
				<a href="/trocas/nova/{{livro.dono.user.id}}/{{livro.id}}" class="btn btn-default btn-block">Pegar</a>
				</br>
				
			</div>

		{% endfor %}

	</div>
{% endblock pagina %}