<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/css/style.css">
	<link rel="stylesheet" href="/static/assets/font-awesome-4.6.1/css/font-awesome.min.css">
	<script src="/static/assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="/static/assets/js/jquery.min.js" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body class="home-bg">
	<div class="container center-fix">
		<div class="row">
			{% if contaDeletada %}
				<div class="col-sm-6 col-sm-offset-3 alert alert-success" >
					<strong>{{ nome }}</strong>, sua conta foi deletada com sucesso.
				</div>
			{% endif %}
			<br>
			<br>
			<div class="col-sm-6 col-sm-offset-3 bg">
				<h1>Liby</h1>
				<p>Liby é uma plataforma de compartilhamento de livros. Aqui você pode trocar seus livros com outras pessoas. </p>

				<div class="text-center">
					<a href="/login/facebook/" class="btn btn-facebook text-center">
						<i class="fa fa-facebook-official" aria-hidden="true"></i>
						&nbsp; Conectar com <b>Facebook</b>
					</a>
				</div>
				<br>

			</div>
		</div>
	</div>
</body>
</html>