<h3 class="page-header" style="visibility: hidden;">
	Menu
</h3>
<div class="list-group">
	<a class="list-group-item" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>
	<a class="list-group-item" href="/livros"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Livros</a>
	<a class="list-group-item sub-item" href="/livros/meus-livros/">&nbsp; Meus Livros</a>
	<a class="list-group-item sub-item" href="/livros/buscar/">&nbsp; Buscar por Título e Autor</a>
	<a class="list-group-item sub-item" href="/livros/buscarisbn/">&nbsp; Buscar pelo ISBN</a>
	<a class="list-group-item" href="/usuarios"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Usuários</a>
	<a class="list-group-item sub-item" href="/usuarios/seguindo/">&nbsp; Seguindo</a>
	<a class="list-group-item sub-item" href="/usuarios/seguidores/">&nbsp; Seguidores</a>
	<a class="list-group-item sub-item" href="/usuarios/buscar/">&nbsp; Buscar</a>
	<a class="list-group-item" href="/trocas"><i class="fa fa-exchange fa-fw" aria-hidden="true"></i>&nbsp; Trocas</a>
	<a class="list-group-item" href="/configuracoes"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Configurações</a>
</div>