<h3 class="page-header" style="visibility: hidden;">
	Menu
</h3>
<div class="list-group">
	<a class="list-group-item" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>
	<a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Livros</a>
	<a class="list-group-item sub-item" href="/livros/meus-livros/">&nbsp; Meus Livros</a>
	<a class="list-group-item sub-item" href="#">&nbsp; Buscar</a>
	<a class="list-group-item" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Usuários</a>
	<a class="list-group-item" href="#"><i class="fa fa-exchange fa-fw" aria-hidden="true"></i>&nbsp; Trocas</a>
</div>